
.home-1{
    margin-left: 100px;
}

.container-1{
    background-image: url("https://res.cloudinary.com/kamleshcloud/image/upload/v1716621670/Group_2bg1_eymzvb.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.best-mobile{
    font-family: Poppins;
font-size: 65px;
font-weight: 600;
line-height: 75px;
text-align: left;
color: #000000;
width: 487px;
height: 150px;
opacity: 0px;
margin-top: 0%;
margin-bottom: 30px;
}
.para{
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 25px;
text-align: left;
color: #4E4E4E;
width: 601px;
height: 50px;
top: 462px;
left: 115px;
gap: 0px;
opacity: 0px;
}

.read-more-button{
    width: 198px;
height: 60px;
top: 550px;
left: 119px;
gap: 0px;
border-radius: 50px;
opacity: 0px;
background: #000000;
color: white;
}
.follow-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: column;
    margin-right:  7%;
    margin-top: 8px;
}
.follow-container img{
    padding-bottom: 10px;
}
.container-2{
    background-image: url("https://res.cloudinary.com/kamleshcloud/image/upload/v1716627468/Vector_12_ndh3pg.png");
    width: 100vw;
    height: 200vh;
    background-size: cover;
}
.engaging{
    width: 260px;
height: 60px;
top: 791px;
left: 602px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 25px;
font-weight: 600;
line-height: 30.26px;
text-align: center;
color: #000000;

}
.zig{
    width: 104px;
height: 16px;
top: 860px;
left: 685px;
gap: 0px;
opacity: 0px;

}
.paraa{
    width: 592px;
height: 88px;
top: 898px;
left: 427px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
color: #8B8B8B;

}
.girl{
    width: 167px;
height: 206px;
top: 736px;
left: 1168px;
gap: 0px;
opacity: 0px;

}
.cont-2-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 150px;
}
.cont-2-1-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-cont{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.zig-2{
    width: 1047px;
height: 15px;
top: 1593px;
left: 195px;
gap: 0px;
opacity: 0px;
margin-left: 230px;
margin-top: 70px;
}
.container-3{
    width: 1221px;
height: 546px;
opacity: 0px;
display: flex;
align-items: center;
justify-content: space-between   ;
}
.man{
    width: 500px;
height: 500px;
top: 1707px;
left: 100px;
gap: 0px;
padding-left: 80px;
opacity: 0px;
padding-right: 180px;
}
.container-3-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.easy{
    width: 448px;
height: 80px;
top: 1707px;
left: 705px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 30px;
font-weight: 600;
line-height: 40px;
text-align: left;
color: #000000;
}
.read-more-button{
    width: 198px;
height: 60px;
top: 2048px;
left: 703px;
gap: 0px;
border-radius: 50px;
opacity: 0px;
background-color: #000000;
margin-top: 70px;
}
.container-4{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.li{
    width: 550px;
height: 142px;
top: 2508px;
left: 137px;
gap: 0px;
border-radius: 25px;
opacity: 0px;
background: #FFFFFF;
box-shadow: 0px 0px 35px 0px #0000001C;
display: flex;
align-items: center;
justify-content: space-between;
margin: 14px;
}
.man-2{
    width: 630px;
height: 690px;
top: 2438px;
left: 729px;
gap: 0px;
opacity: 0px;

}
.li img {
    width:82px;
height: 82px;
top: 2542px;
left: 166px;
gap: 0px;
opacity: 0px;
padding-left: 10px;
}
.li div h1{
    width: 177px;
height: 25px;
top: 2537px;
left: 281px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 25px;
font-weight: bold;
line-height: 25px;
text-align: left;
color: #000000;
}
.li div p {
    width: 422px;
height: 70px;
top: 2574px;
left: 282px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: #434343;

}
.container-5{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
.container-5-2{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.design{
    width: 514px;
height: 90px;
top: 3197px;
left: 743px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 30px;
font-weight: 600;
line-height: 45px;
text-align: left;
color: #000000;

}
.para-2{
    width: 538px;
height: 54px;
top: 3303px;
left: 743px;
gap: 0px;
border-radius: 6px;
opacity: 0px;
background: #B2EDD1;
box-shadow: 0px 4px 4px 0px #00000021;
font-size: 20px;
font-weight: 500;
margin: 1%;
}
.para-3{
    width: 504px;
height: 109px;
top: 3370px;
left: 760px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: #5C5C5C;

}
.phone-div-1{
    display: flex;
    align-items: center;
}
.container-6{
    width: 100vw;
height: 850px;
top: 3784px;
left: -7px;
gap: 0px;
opacity: 0px;
background: #B2EDD1;
display: flex;
align-items: center;
flex-direction: column;
}

.phone{
    width: 255px;
height: 452px;
top: 4093px;
left: 26px;
gap: 0px;
opacity: 0px;
padding: 10px;
}
.dot{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.phone2{
    height: 550px !important;
    border-radius: 50px !important;
}
.comma-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.name-div{
    display: flex;
    align-items: center;
    padding: 5px;
}
.name-div img{
    padding-left: 12px;
}
.container-7{
    text-align: center;
    height: 100vh;
    padding-top: 80px;
}
.slider-container{
    margin-top: 60px;
    margin-left: 6%;
}
.slider-card{
    
    width: 600px !important;
    height: 306px;
    top: 4972px;
    left: 186px;
    gap: 0px;
    border-radius: 20px ;
    opacity: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px 0px #65B87D47;
    
}
.paraaa{
    width: 412px;
    height: 102px;
    top: 5027px;
    left: 234px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #4D4D4D;
        text-align: center  ;
        padding-left: 30px;
}
.comma{
    width: 66px;
    height: 63px;
    top: 5153px;
    left: 222px;
    gap: 0px;
    opacity: 0px;
    
}
.girlp{
    width: 78px;
    height: 78px;
    top: 5155px;
    left: 544px;
    gap: 0px;
    opacity: 0px;
    
}
.arrow2{
    padding-left: 150px;
}
.card-external{
    max-width: 312.66px;
max-height: 482.57px;
top: 1013px;
left: 161px;
gap: 0px;
opacity: 0px;
border: 2px solid #000000;
padding-top: 10px;
padding-left: 10px;
border-radius: 10%;
}

.card-internal{
    width: 332.66px;
height: 502.57px;
top: 1026px;
left: 175px;
gap: 0px;
opacity: 0px;
background: #92E3A9;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border-radius: 15%;
}
.card-internal h1{
    width: 212px;
    height: 25px;
    top: 1284px;
    left: 232px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
    color: #050505;
        
}
.card-internal p {
    width: 263px;
height: 61px;
top: 1347px;
left: 199px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: center;
color: #000000;

}
.img-div{
    width: 174px;
height: 174px;
top: 1062px;
left: 244px;
gap: 0px;
border: 4px 0px 0px 0px;
opacity: 0px;
background: #FFFFFF;
border: 4px solid #C0F5CF;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.img-div img{
    width: 78px;
height: 78px;
top: 1110px;
left: 292px;
gap: 0px;
opacity: 0px;

}
.yellow-line{
    width: 98px;
height: 3px;
top: 1326px;
left: 283px;
gap: 0px;
opacity: 0px;
background: #DBFF00;

}
.right-arrow{
    width: 49px;
height: 49px;
top: 1434px;
left: 304px;
gap: 0px;
opacity: 0px;
background: #000000;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
            
.right-ar{
    width: 22px;
height: 11px;
top: 1454px;
left: 318px;
gap: 0px;
border: 2px 0px 0px 0px;
opacity: 0px;
border: 2px solid #FFFFFF;
}
.bg-green{
    background: #4FD44D;
}

.slider-container-mobile{
    display: none;
}
@media screen and (max-width: 768px) {
    .best-mobile{
    font-size: 35px;
    font-weight: 700;
margin: 0;
    }
    .para{
    font-size: 26px;
    font-weight: 400;
    margin: 0%;
    }
    .read-more-button{
        width: 98px;
    height: 50px;
    }
    .engaging{
        font-size: 20px;
    }
    
    .paraa{
        font-size: 15px;
    }
    .girl{
       height: 150px;
       width: 150px;
       margin-bottom: 10%;
    }
    .cont-2-1{
        display: flex;
        align-items: left;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 20px;
        padding-left: 150px;
    }
    .card-cont{
        flex-direction: column;
    }
    .card-external{
        max-width: 252.66px;
    max-height: 412.57px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 10%;
    margin-bottom: 5%;
    }
    .card-internal{
        width: 302.66px;
    height: 422.57px;
    border-radius: 15%;
    }
    .img-div{
        width: 134px;
    height: 134px;
    }
    .container-2{
        height: 300vh;
    }
    .zig-2{
        width: 547px;
    height: 10px;
    top: 1593px;
    left: 195px;
    gap: 0px;
    opacity: 0px;
    margin-left: 10%;
    margin-top: 10px;
    }
    .container-3{
        width: 1221px;
    height: 546px;
    opacity: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly   ;
    margin: 0%;

    }
    .container-3-1{
margin-right: 600px;
    }
    .man{
        width: 300px;
    height: 300px;
    top: 0;
    left: 0;
    gap: 0px;
    padding-left: 1px;
    opacity: 0px;
    padding-right: 700px;
    }
    .container-4{
        display: flex;
        align-items: center;
        margin-top: 450px;
        flex-direction: column;
    }
    .man-2{
        height: 300px;
        width: 300px;
    }
    .li{
        width: 80%;
    height: 20%;
    top: 2508px;
    left: 137px;
    gap: 0px;
    border-radius: 25px;
    opacity: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 35px 0px #0000001C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 14px;
    overflow: hidden;
    }
    .li div h1{
        font-size: 20px;
    }
    .li div p{
        font-size: 15px;
        
    }
    .li img{
        height: 80px;
        width: 80px;
        margin: 20px;
    }
    .ddd{
        margin-left: 30px;
    }
    .container-5{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 120vh;
    }
    .container-5-2{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        order: 0;
    }
    .man-3{
        height: 300px;
        width: 300px;
    }
    .design{
        font-size: 25px ;
        margin: 0%;
    }
    .para-2{
        font-size: 15px;
    }
    .para-3{
        font-size: 15px;
    }
    .container-6{
        width: 100vw;
    height: 330vh;
    top: 3784px;
    left: -7px;
    gap: 0px;
    opacity: 0px;
    background: #B2EDD1;
    display: flex;
    align-items: center;
    flex-direction: column;
    }
    .container-6 div h1{
        font-size: 155%;
    }
    .container-6 div p{
        font-size: 100%;
    }
    .phone-div-1{
        flex-direction: column;
    }
    .phone{
        height: 350px;
        width: 250px;
    }
    .phone2{
        height: 400px;
        width: 300px;
    }
    .dot{
        display: none;
    }
    .review{
        font-size: 150%;
        margin-top: 50px;
    }
    .slider-container{
        display: none;
    }
    .slider-container-mobile{
        display: inline;
    }
.slider-card{
    width: 80% !important;
}
.paraaa{
    font-size: 15px;
}
.comma{
    height: 61px;
    width: 60px;
}
.girlp{
    height: 70px;
    width: 70px;
}
.xi{
    margin-bottom: 70px;
}
.container-7{
    height: 80vh;
}
}