.ellipse{
    background-image: url("https://res.cloudinary.com/kamleshcloud/image/upload/v1716657531/Ellipse_11_1_nkaxbo.png");
    width: 77px;
height: 77px;
top: 698px;
left: 336px;
gap: 0px;
   
border-radius: 50%;
border: 1px solid #000000;
border-bottom: none;
padding-top: 10px;
padding-right: 4px;
}
.circle{
    background-image: url("https://res.cloudinary.com/kamleshcloud/image/upload/v1716657382/Ellipse_10_aq3jlw.png");
    width: 77px;
height: 77px;
top: 702px;
left: 331px;
gap: 0px;
border-radius: 50%;
   
background: #7FDA8E;
display: flex;
align-items: center;
justify-content: center;
}
.feature-container{
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}
.copyy{
    width: 30px;
height: 36.67px;
top: 723px;
left: 355px;
gap: 0px;
   
color: #FFFFFF;

}
.feature-card{
    width: 372px;
height: 253px;
top: 668px;
left: 195px;
gap: 0px;
border-radius: 10px 0px 0px 0px;
   
box-shadow: 0px 0px 15px 0px #0000001A;
background: #FFFFFF;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border-radius: 20px;
margin: 15px;
}
.pp{
    padding-left: 30px;
}
.ul{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin-left: 5%;
}
.feaute{
    width: 130px;
height: 38px;
top: 448px;
left: 649px;
gap: 0px;
border-radius: 50px ;
   
background: #F0FDDC;
text-align: center;
padding-bottom: 17px;
}

.head{
    width: 458px;
height: 38px;
top: 504px;
left: 477px;
gap: 0px;
   
font-family: Mulish;
font-size: 27px;
font-weight: 700;
line-height: 37.65px;
text-align: left;
color: #000000;

}
.lineee{
    width: 75px;
height: 0px;
top: 826px;
left: 331px;
gap: 0px;
border: 3px 0px 0px 0px;
   
border: 3px solid #00C6D1
}
@media screen and (max-width: 768px) {
    .feature-container{
        height: 270vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 40px;
    }
}